<h2>Edit connections</h2>

<%= render "form.html", changeset: @changeset,
                        action: connections_path(@conn, :update, @connections) %>

<%= link "Back", to: connections_path(@conn, :index) %>
