<div class="jumbotron">
  <img src="/images/6co.png">
  <h2>Bienvenue sur 6co</h2>
  <p class="lead">votre fournisseur préféré de connectivité WiFi IPv6</p>
</div>

<div class="text-center">
  <%= if @remote_allowed do %>
    <a class="btn btn-primary btn-lg" href="/logout">Déconnexion</a>
  <% else %>
    <a class="btn btn-primary btn-lg" href="/login">Connexion</a>
  <% end %>
</div>
