<div class="jumbotron">
  <img src="/images/6co.png">
  <h2>Bienvenue sur 6co</h2>
  <p class="lead">votre fournisseur préféré de connectivité WiFi IPv6</p>
</div>

<div class="text-center">
  <a class="btn btn-primary btn-lg" href="/login">Connexion</a>
</div>

